.Login {
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    width: 400px;
}

.Header {
    font-size: 28px;
}

.Input {
    margin-top: 10px;
}

.ButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.Button {
    margin-top: 10px;
}

.ErrorMessageContainer {
    height: 200px;
    margin: 10px 0;
}

.ErrorMessage {
    padding: 10px;
    border-radius: 5px;
    background: red;
    color: white;
    word-wrap: break-word;
}