.List {
    margin-top: 10px;
    height: 300px;
    overflow: auto; 
    padding: 0 16px;
    border: 1px solid rgba(140, 140, 140, 0.35);
}

.Footer {
    height: 64px;
}

.Content {
    padding: 50px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 100vh;
}
